.formContainer {
  margin: auto;
  margin-top: 5em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  border-radius: 10px;
  width: fit-content;
}

.formContainer:hover {
  margin-top: 4,9em;
  border: .1em solid var(--ifm-color-primary);
}

.formContainer > h3 {
  text-align: center;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.inputContainer > a > svg {
  margin-left: 1rem;
  cursor: pointer;
}

.input {
  background-color: whitesmoke;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid var(--ifm-border-color);

  width: 100%;
  padding: .6em;
  padding-right: 1.5em;
  font-size: larger;
  
  resize: vertical;
}

.input:focus {
  outline: none !important;
}

.submit {
  margin-left: .5em;
  color: var(--ifm-footer-link-color);
  font-size: small;
}

.status {
  text-align: center;
}

.success {
  color: green;
}

.sending {
  color: blue;
}

.error {
  color: red;
}