name: Build

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    concurrency: ci-${{ github.ref }}
    
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'yarn'
    - run: yarn install --frozen-lockfile
    - run: echo "${{ secrets.WEBSITE_CONFIG_KEY }}" > website_config.json
    - run: yarn build
